In [1]:
import csv
import pandas as pd

In [2]:
df = pd.read_csv('imdbdata_maindata2.csv')
df.head(3)

,title,year,rated,released,runtime,genre,director,writer,actors,plot,...,imdbrating,imdbvotes,imdbid,type,dvd,boxoffice,production,website,response,tomatourl
0,The Player,2015,TV-14,24 Sep 2015,60 min,"Action, Crime, Drama",NaN,"John Fox, John Rogers","Philip Winchester, Damon Gupton, Wesley Snipes...","A former intelligence and FBI officer, who now...",...,7.1,6331,tt4474310,series,NaN,NaN,NaN,NaN,True,NaN
1,The Honeymooners,1955–1956,NaN,01 Oct 1955,30 min,"Comedy, Family",NaN,Jackie Gleason,"Jackie Gleason, Art Carney, Audrey Meadows, Jo...",A bus driver and his sewer worker friend strug...,...,8.7,3637,tt0042114,series,23 Sep 2003,NaN,NaN,NaN,True,http://www.rottentomatoes.com/m/ralphs-world-s...
2,McHale's Navy,1962–1966,TV-G,11 Oct 1962,30 min,"Comedy, War",NaN,NaN,"Ernest Borgnine, Joe Flynn, Tim Conway, Carl B...",The misadventures of a misfit PT Boat crew dur...,...,7.5,1698,tt0055689,series,NaN,NaN,NaN,NaN,True,NaN

In [3]:
# Convert 'Date' column to datetime format
df['released'] = pd.to_datetime(df['released'])
df['released year'] = df['released'].dt.year.astype('Int64')

In [4]:
df.head(3)

,title,year,rated,released,runtime,genre,director,writer,actors,plot,...,imdbvotes,imdbid,type,dvd,boxoffice,production,website,response,tomatourl,released year
0,The Player,2015,TV-14,2015-09-24,60 min,"Action, Crime, Drama",NaN,"John Fox, John Rogers","Philip Winchester, Damon Gupton, Wesley Snipes...","A former intelligence and FBI officer, who now...",...,6331,tt4474310,series,NaN,NaN,NaN,NaN,True,NaN,2015
1,The Honeymooners,1955–1956,NaN,1955-10-01,30 min,"Comedy, Family",NaN,Jackie Gleason,"Jackie Gleason, Art Carney, Audrey Meadows, Jo...",A bus driver and his sewer worker friend strug...,...,3637,tt0042114,series,23 Sep 2003,NaN,NaN,NaN,True,http://www.rottentomatoes.com/m/ralphs-world-s...,1955
2,McHale's Navy,1962–1966,TV-G,1962-10-11,30 min,"Comedy, War",NaN,NaN,"Ernest Borgnine, Joe Flynn, Tim Conway, Carl B...",The misadventures of a misfit PT Boat crew dur...,...,1698,tt0055689,series,NaN,NaN,NaN,NaN,True,NaN,1962

In [5]:
df['rated'].unique()

array(['TV-14', nan, 'TV-G', 'TV-PG', 'TV-MA', 'TV-Y', 'TV-Y7',
       'NOT RATED', 'PG', 'R', 'PG-13', 'UNRATED', 'G', 'APPROVED',
       'PASSED', 'GP', 'NC-17', 'M', 'M/PG', 'X'], dtype=object)

In [6]:
#f.to_excel('IMDB_Data.xlsx', 'IMDB')